# Contents of the file: /picturethis-app/picturethis-app/.dockerignore

node_modules
npm-debug.log
Dockerfile
docker-compose.yml
*.md
*.log
*.tsbuildinfo
.next
out
public/static
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
dist
build
.idea
.vscode
*.tgz
*.zip
*.tar
*.gz
*.rar
*.7z
*.swp
.DS_Store
Thumbs.db